name: Test Compilazione # Action name
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download file della Repo
        uses: actions/checkout@v6
      - name: Compilazione della guida
        uses: xu-cheng/latex-action@v4
        with: # insert here files to compile
          working_directory: Guide
          root_file: |
                  Guided_Tour_For_Children.tex
                  Guided_Tour_For_Children_Enlarged.tex
      - name: Compilazione delle slide
        uses: xu-cheng/latex-action@v4
        with: # insert here files to compile
          working_directory: Guide_Slides
          root_file: Guided_Tour_For_Children_Slides.tex
      - name: Compilazione del Laboratorio Creativo
        uses: xu-cheng/latex-action@v4
        with: # insert here files to compile
          working_directory: Children_Creative_Labs
          root_file: |
                  Coloring_Artworks.tex
                  Find_The_Artworks.tex
                  Link_Description_To_Images.tex
                  Puzzles_About_Artworks.tex
      - name: Compilazione del Laboratorio
        uses: xu-cheng/latex-action@v4
        with: # insert here files to compile
          working_directory: Children_Labs
          root_file: Test.tex
      - name: Ridenominazione files
        run: |
          mv Guide/Guided_Tour_For_Children.pdf Guide/Guida_per_Tour_Bambini_Musei_Civici.pdf
          mv Guide/Guided_Tour_For_Children_Enlarged.pdf Guide/Guida_per_Tour_Bambini_Musei_Civici-Ingrandita.pdf
          mv Guide_Slides/Guided_Tour_For_Children_Slides.pdf Guide_Slides/Slides-Guida_per_Tour_Bambini_Musei_Civici.pdf
          mv Children_Creative_Labs/Coloring_Artworks.pdf Children_Creative_Labs/Laboratorio_Creativo-Colora_le_Opere.pdf
          mv Children_Creative_Labs/Find_The_Artworks.pdf Children_Creative_Labs/Laboratorio_Creativo-Trova_le_Opere.pdf
          mv Children_Creative_Labs/Link_Description_To_Images.pdf Children_Creative_Labs/Laboratorio_Creativo-Collega_le_Descrizioni_alle_Immagini.pdf
          mv Children_Creative_Labs/Puzzles_About_Artworks.pdf Children_Creative_Labs/Laboratorio_Creativo-Puzzle_sulle_Opere.pdf
          mv Children_Labs/Test.pdf Children_Labs/Laboratorio-Test.pdf
      - name: Caricamento della Release temporanea
        uses: actions/upload-artifact@v7
        with: 
          name: Tour Bambini Musei Civici
          path: |
            Guide/Guida_per_Tour_Bambini_Musei_Civici.pdf
            Guide/Guida_per_Tour_Bambini_Musei_Civici-Ingrandita.pdf
            Guide_Slides/Slides-Guida_per_Tour_Bambini_Musei_Civici.pdf
            Children_Creative_Labs/Laboratorio_Creativo-Colora_le_Opere.pdf
            Children_Creative_Labs/Laboratorio_Creativo-Trova_le_Opere.pdf
            Children_Creative_Labs/Laboratorio_Creativo-Collega_le_Descrizioni_alle_Immagini.pdf
            Children_Creative_Labs/Laboratorio_Creativo-Puzzle_sulle_Opere.pdf
            Children_Labs/Laboratorio-Test.pdf
